
#freelancers {
    text-align: center;
    color: lightsalmon;
    justify-content: space-between;


}
h1 {
    text-align: center;
    color: rebeccapurple;
}
#AvestrtPrice {
    text-align: center;
    color: mediumorchid;
}


